.header {
    width: 100%;
    height: 50px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.main-album-header {
    text-align: center;
}

.search-input {
    border-radius: 10px;
    border: 0;
    width: 300px;
    height: 25px;
    font-size: 1.1em;
    outline: 0;
}

.search-icon {
    width: 20px;
    height: 20px;
    position: relative;
    right: 30px;
    top: 5px;
}

.search-input:focus {
    width: 400px;
}

.empty-warning {
    display: none;
    position: absolute;
    width: 200px;
    background-color: white;
    border: 2px solid lightgray;
    padding: 5px;
    padding-left: 30px;
    top: 45px;
    left: calc(50% - 10px);
    z-index: 5;
    background-image: url('../icons/warning.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: left;
}

.empty-warning:before {
    position: absolute;
    z-index: -1;
    content: "";
    left: calc(50%+10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent white transparent;
}